@import '@/styles/_vars.scss';

.header {
    padding-top: 12px;
    position: relative;
    z-index: 20;
    background: $pagebg;
}

.wrap {
    display: flex;
    align-items: center;
}

.left {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hr {
    width: 100%;
    height: 1px;
    background: $bgGrayLight;
    margin-top: 12px;
}