$pagebg: #F0F0F0;

$textBlack: #252422;
$textWhite: #ffffff;
$textAccent: #E24D43;
$textGray: #C7C7C7;
$textGrayLight: #626262;

$bgBlack: #252422;
$bgWhite: #ffffff;
$bgAccent: #E24D43;
$bgGrayLight: #c7c7c7;